$small-screen: 540px;
$medium-screen: 768px;
$large-screen: 1084px;

$star-color: #fb5a07;
$button-color: #0067b8;

$font-color: #0067b8;

$focus-border-color: #004eff;

$scroll-down-color: #0067b8;



@mixin animationFadeInDown($duration, $delay, $transition) {
	 -webkit-animation: fadeInDown $duration $transition $delay infinite;

	  // animation: fadeInDown 5s infinite;
     animation: fadeInDown $duration $transition $delay infinite;

}

@-webkit-keyframes fadeInDown { 0% { opacity: 0.5;transform: rotate(45deg) scale(0.8); top: 0; } 30% {transform: rotate(45deg) scale(1.2); opacity: 1} 100% { opacity: 0;transform: rotate(45deg) scale(1); top: 60% }  }
        @keyframes fadeInDown { 0% { opacity: 0.5;transform: rotate(45deg) scale(0.8); top: 0; } 30% {transform: rotate(45deg) scale(1.2); opacity: 1} 100% { opacity: 0;transform: rotate(45deg) scale(1); top: 60% }  }


