body {
    color: #fff;
    font-family: Monospace;
    font-size: 13px;
    text-align: center;
    background-color: #fff;
    margin: 0;
    overflow: hidden;
    position: fixed;
}

#title {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    width: 240px;
    height: auto;
    z-index: 1;
    margin-right: auto;
    margin-left: auto;
}

#container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#slideshow-button {
    position: fixed;
    left: 0;
    top: 0;
    width: 32px;
    height: 32px;
}

#close-button {
    position: fixed;
    right: 0;
    top: 0;
    width: 32px;
    height: 32px;
}

button.action {
    border: 2px solid #5D1609;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 12px;
    font-family: trebuchet MS, sans-serif;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    display: inline-block;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
    font-weight: bold;
    color: #FFFFFF;
    background-color: #C8978C;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#C8978C), to(#B05D43));
    background-image: -webkit-linear-gradient(top, #C8978C, #B05D43);
    background-image: -moz-linear-gradient(top, #C8978C, #B05D43);
    background-image: -ms-linear-gradient(top, #C8978C, #B05D43);
    background-image: -o-linear-gradient(top, #C8978C, #B05D43);
    background-image: linear-gradient(to bottom, #C8978C, #B05D43);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#C8978C, endColorstr=#B05D43);
}

#download {
    position: fixed;
    bottom: 0;
    display: flex;
    z-index: 1;
    left: 0;
    height: 5em;
    width: 100%;
    align-items: center;
    justify-content: center;
}

#before-button {
    position: fixed;
    top: 45%;
    left: 0;
    font-size: 1.6em;
    height: 2em;
    margin-right: 0.5em;
}

#next-button {
    position: fixed;
    top: 45%;
    right: 0;
    font-size: 1.6em;
    height: 2em;
    margin-left: 0.5em;
}

#download-button {
    width: 16em;
    height: auto;
    display: none;
}

#actions {
    position: fixed;
    z-index: 2;
    display: grid;
    bottom: 0;
    width: 100%;
}

@media only screen and (orientation: landscape) {
    #actions {
        height: auto;
        width: auto;
        margin-bottom: auto;
        left: 0;
        top: 0;
        grid-template-columns: auto auto;
    }
}

@media only screen and (orientation: portrait) {
        /* TODO    Centre this. */
    #actions {
        height: auto;
        width: auto;
        grid-template-columns: auto auto auto auto;
        margin-bottom: 5.6em;
    }
}

#download-button {
    position: fixed;
    bottom: 0;
}