$small-screen: 540px;
$medium-screen: 768px;
$large-screen: 1084px;



@mixin iphonePortrait {
    @media all and (orientation: portrait){
        @content;
    }
} 


@mixin iphoneLandscape {
    @media all and (orientation: landscape){
        @content;
    }
} 

@mixin iPadPortrait {
    @media all and (min-width: 768px) and (orientation: portrait) {
        @content;
    }
}

@mixin iPadLandscape {
    @media all and (min-height: 768px) and (orientation: landscape) {
        @content;
    }
}


@mixin iPhoneXPortrait {

    /*iPhone X portrait*/
    @media (min-device-height: 724px) and (max-device-width: 376px) and (min-aspect-ratio: 354/724) and (orientation: portrait) {
        @content;
    }

}


@mixin iPhoneXLandscape {

    /*iPhone X landscape*/
    @media (min-aspect-ratio: 724/354) and (orientation: landscape) {
        @content;
    }

}