@media all and (orientation: landscape) {
    #vungle-header.landscape-light a {
        color: #ffffff;
        text-shadow: rgba(0, 0, 0, 0.37) 0 1px 2px;
    }
    #vungle-header.landscape-light a:active {
        color: #b4b4b4;
    }
    #vungle-header.landscape-dark a {
        color: rgba(126, 126, 126, 1);
        text-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px;
    }
    #vungle-header.landscape-dark a:active {
        color: rgba(54, 54, 54, 1);
    }
    #vungle-footer.landscape-center {
        left: 0;
        right: 0;
        margin: auto;
        text-align: center;
    }
    #vungle-footer.landscape-left {
        left: 5px;
        right: auto;
        text-align: left;
    }
    #vungle-footer.landscape-right {
        left: auto;
        right: 5px;
        text-align: right;
    }
    #vungle-footer.landscape-light span {
        color: rgba(255, 255, 255, 0.8);
    }
    #vungle-footer.landscape-dark span {
        color: rgba(126, 126, 126, 0.8);
    }
    #level-complete {
        width: 40%;
    }
}

@media all and (min-width: 768px) and (orientation: portrait) {
    #dialog{
        width: 80%;
        height: 10%;
        top: 2%;
    }
    .options{
        margin-top: 2%;
    }
    #dialog-text{
        top: 5%;
    }
    #dialog-tag{
        top: 18%;
        width: 80%;
        height: 2.5%;
    }
    #character {
        width: 50%;
    }
    #character-happy {
        width: 55%;
    }

    #cta-container, #cta-container-final {
        width: 60%;
    }

    #chair {
        width: 80%;
        top: 30%;
    }
}

@media all and (min-width: 768px) and (orientation: landscape) {

   //  body {
   //      background-position-y: 10%;
   //  }
   #dialog {
    width: 60%;
    // height: 10%;
   }
   #dialog-text {
    width: 40%;
   }
   #dialog-tag {
    width: 60%;
    height: 3.5%;
    top: 22%;
    // left: 38%;
   }

   #chair {
    // width: 30%;
    top: 32%;
    // left: 52%; 
   }

   #worker-2 {
    top: 46%;
   }


   #worker-3 {
    top: 40%;
   }
}



@media all and (min-width: 823px ) and (max-height: 415px) and (orientation: landscape) {

    #dialog{
        width: 28%;
        height: 15%;
    }

    #chair {
        width: 28%;
        top: 50%;
    }

    #character {
        width: 45%;
    }
}


/*iPhone X portrait*/
@media (min-device-height: 724px) and (max-device-width: 376px) and (min-aspect-ratio: 354/724) and (orientation: portrait) {

    #chair {
        top: 30%;
        width: 100%;
    }
}

/*iPhone X landscape*/
@media (min-aspect-ratio: 724/354) and (orientation: landscape) {
    #chair {
        top: 40%;
    }
    #dialog-tag {
        top: 30%;
        height: 4.5%;
    }    
    // #character {
    //     width: 46%;
    // }

    // #dialog {
    //     width: 38%;
    //     height: 22%;
    // }
}
