
#abs-container{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;

}
.hidden {
    visibility: hidden;
    /*  display: none !important; */
    opacity: 0;
}

/************   end   **********************/
#sakuraLayer {
    width: 100%;
    height: 100%;
    z-index: 400;
    pointer-events: none;
    top: 0;
    left: 0;
}
.item{
    position: absolute;
    margin: auto;
}

.item img {
    width: 100%;
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(39, 25, 0, 0.8);
    position: absolute;
    top: 0px;
    z-index: 10;
    box-shadow: 0 0 200px rgba(0, 0, 0, 0.9) inset;
    transition: opacity 0.5s ease-in-out;
}

.overlay.fadeOut {
    opacity: 0;
    pointer-events: none;
    z-index: -100;
}

.overlay.hidden {
    opacity: 0;
    pointer-events: none;
    z-index: -100;
}

#background_2D {
    width: 100%;
    height: 100%;
    z-index: 2;
    pointer-events: none;
}

#board_2D {
    width: 100%;
    height: auto;
    top: 0;
    bottom: 0;
    z-index: 2;
    pointer-events: none;
}

.zoomOut {
    transform: scale(5);
    transition: transform 0.5s ease-in-out;
/*    animation: zoomOut 1s ease-in-out;
    -webkit-animation: zoomOut 1s ease-in-out;*/
}

.fade {
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.text {
    font-family: 'myFont';
    /*top: 50%;
    left: 50%;*/
    text-align: center;
    position: absolute;
    margin: auto;
    text-shadow: #000 1px 0 10px; #000 1px 0 10px;
    /*transform: translate(-50%, -50%);*/
}

.overlayText {
    font-family: 'myFont';
    width: 100%;
    top: 65%;
    left: 0;
    right: 0;
    font-size: 7vw;
    color: #fff;
    z-index: 10;
    opacity: 0;
}
.tapAnywhereText {
    width: 50%;
    top: 70%;
    left: 0;
    right: 0;
    font-size: 6vw;
    color: #fff;
}
#continueStory {
    width: 80%;
}

.objectsContainer {
    width: 70%;
    max-width: 1000px;
    position: absolute;
    left: 50%;
    top: 58%;
    transform: translate(-50%, -50%);
}

#smoke-1, #smoke-1-final {
    width: 60%;
    height: auto;
    left: 0;
    bottom: 1%;
    opacity: 0;
}

#smoke-1-final {
    bottom: 80%;
}

#smoke-2, #smoke-2-final {
    width: 80%;
    height: auto;
    right: 0;
    bottom: 2%;
    opacity: 0;
}

#smoke-2-final {
    bottom: 60%;
}

#explosion-layer-1 {
    width: 10%;
    height: auto;
    left: 0;
    right: 0;
    top: 50%;
    opacity: 0;
    z-index: 10;
    pointer-events: none;
}

#explosion-layer-2 {
    width: 10%;
    height: auto;
    left: 0;
    right: 0;
    top: 50%;
    opacity: 0;
    z-index: 9;
    pointer-events: none;

}

.object {
    max-width: 33%;
    max-height: 100%;
    float: left;
    position: relative;
    z-index: 5;
    transition: 0.2s;
    bottom: 0px;
}

.object.fadeInTransition{
    animation: movey .5s ease-in-out;
}


#objectsDock {
    width: 100%;
    position: absolute;
    margin: auto;
    bottom: -20%;
    left: 0;
    right: 0;
    /*transform: translate(0%, 200%);*/
    z-index: 1;
    transition: 0.5s ease-in;

}

#objectsDock.moveDockUp {
    /*transform: translate(0%, 0%);*/
    bottom: 12%;
}

#objectsDock .object{
    width: 30%;
    margin: 0 1.5%;
}

#tntProgress{

    border: 0;
    width: 60%;
    height: 5%;
    left: 0;
    right: 0;
    top: 60%;
    border-radius: 50px;
    pointer-events: none;
    transition: opacity 1s ease-in-out;
}

#tntProgress[value]::-webkit-progress-bar {

    background-color: #1d2f42;
    border-radius: 50px;

    border: 1px solid #386083;

    box-shadow: #333 0px 2px 15px;
}

#tntProgress[value]::-webkit-progress-value {
  background-image:
       -webkit-linear-gradient(-45deg, 
                               transparent 33%, rgba(0, 0, 0, .1) 33%, 
                               rgba(0,0, 0, .1) 66%, transparent 66%),
       -webkit-linear-gradient(top, 
                               rgba(255, 255, 255, .25), 
                               rgba(0, 0, 0, .25)),
       -webkit-linear-gradient(left, #8fd73f, #4198eb, #bd2e1f);

    border-radius: 50px; 
    background-size: 35px 120%, 100% 100%, 100% 100%;
    transition: all 0.5s ease-in-out;
}


#tntProgress.hide{
    opacity: 0;

}

#tntBar{
    pointer-events: none;
    width: 1%;
    height: 30px;
    background-color: green;
}

#centerScreen {
    width: 60vw;
    height: 60vw;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    pointer-events: none;
}

/*
#explosion-animation {
    background: url('explosion.png');
    animation: explosion 1s steps(15);
}*/

#end-screen {
    opacity: 1
}

#end-screen.hidden {
    opacity: 0;
    pointer-events: none;
}

#logo,#logo-final {
    /*top: 2%;*/
    top: -50%;
    left: 0;
    right: 0;
    width: 50%;
    z-index: 200;
    pointer-events: none;
 
}

#logo-final {
    top: 10%;
}


#hand {
    width: 20%;
    height: auto;
    left: 60%;
    pointer-events: none;
    /*right: 0;*/
    top: 45%;
    opacity: 1;
    z-index: 100;
}

#hand.animate {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    animation: finger 1.4s ease-in-out;
    animation-delay: 0.5s;
}

#character, #character-final {
    top: 200%;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 201;
    pointer-events: none;
    /*transform: translate(0, 200%);*/
}

#character-final {
    top: 40%;
}

.cta-container a:active {
    -webkit-filter: brightness(90%);
}

.cta-holder p{
    color: #fff;
    text-shadow: #000 1px 0 10px; 
    opacity: 0;
    transition: opacity .5s ease-in-out;
    z-index: 999;
    font-family: 'myFont';
    width: 80%;
    height: 50%;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    position: absolute;
    text-align: center;
}
.cta-holder img{
    width: 100%;
    height: auto;
    left: 0;
    right: 0;
}

.cta-container {

    bottom: 5%;
    top:auto;
    width: 60%;
    left: 0;
    right: 0;
    height: 10vh;
    z-index: 500;
}


.button1,
.button2 {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 70%;
    height: auto;
    margin: 0 auto;
    max-width: 350px;
}

.button1 img,
.button2 img {
    width: 100%;
    height: auto;
}

.pulse{

    -webkit-animation-name: pulse;
    animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}
.sparkle {
    position: absolute;
}
.sparkle.blue {
    background-color: #0092e9;
}

.sparkle.yellow {
    background-color: #e7b000;
}

.sparkle.red {
    background-color: #ae0000;
}



/* TOOLTIP */

@media all and (orientation: landscape) {
    #hand {
        width: 10%;
    }

    #tntProgress{
        width: 35%;
        height: 10%;
        top: 70%;
    }

    #logo {
        width: 15%;
    }

    #character {
        width: 50%;
    }

    #character-final {
        top: 30%;
    }

    #centerScreen {
        height: 50%;
        width: 50%;

    }
    .cta-container {
        position: absolute;
        bottom: 0%;
        width: 32%;
        right: 1%;
        left: auto;
        height: 21%;
        z-index: 500;
        margin: 0 auto;
        vertical-align: middle;
    }

    .cta-holder p{
        margin: 9% auto;
    }

    .button1,
    .button2 {
        width: 76%;
        top: auto;
        bottom: 0;
        left: 5%;
        right: 0;
        margin: 0 auto;
    }
    .button1 img,
    .button2 img {
        width: 100%;
    }
}

.button2 {
    z-index: 1;
    -webkit-animation: pulseFade 1.5s infinite ease-in-out;
}


@media all and (min-width: 768px) and (orientation: portrait) {
    #background_2D {
        width: 100%;
        height: auto;
    }

    #logo, #logo-final {
        width: 30%;
    }

    #character-final {
        top: 30%;
    }

    .cta-holder p {
        margin: 7% auto;
    }

}


@media all and (min-height: 768px) and (orientation: landscape) {
     .cta-holder p {
        margin: 23% auto;
     } 
}

/*iPhone X portrait*/
@media (min-device-height: 724px) and (max-device-width: 411px) and (min-aspect-ratio: 354/724) and (orientation: portrait){
    
}

/*iPhone X landscape*/
@media (min-aspect-ratio: 724/354) and (orientation: landscape){   
    .cta-container {
        width: 28%;
    }
    .overlayText {
        font-size: 6vw;
    }
    #character {
        width: 40%;
    }
    #character-final {
        top: 35%;
    }
}


@-webkit-keyframes pulseFade {
    0% {
        opacity: 1;
    }
    60% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/*****  jquery mobile can't display "loading" *********/

.ui-loader-default {
    display: none
}

.ui-mobile-viewport {
    border: none;
}

.ui-page {
    padding: 0;
    margin: 0;
    outline: 0
}

@-webkit-keyframes device {
    0% {
        -webkit-transform: translateX(0px);
    }
    25% {
        -webkit-transform: rotateY(50deg) translateX(-30px) ;
    }
    50% {
        -webkit-transform: translateX(0px);
    }
    75% {
        -webkit-transform: rotateY(-50deg) translateX(30px);
    }
    100% {
        -webkit-transform: translateX(0px);
    }
}
@keyframes device {
    0% {
        transform: translateX(0px);
    }
    25% {
        transform: rotateY(50deg) translateX(-30px) ;
    }
    50% {
        transform: translateX(0px);
    }
    75% {
        transform: rotateY(-50deg) translateX(30px);
    }
    100% {
        transform: translateX(0px);
    }
}

@-webkit-keyframes arrowleft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(5px);
    }
    25% {
        opacity: 1;
        -webkit-transform: translateX(-5px);
    }
    50% {
        opacity: 0;
        -webkit-transform: translateX(-5px);
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@keyframes arrowleft {
    0% {
        opacity: 0;
        transform: translateX(5px);
    }
    25% {
        opacity: 1;
        transform: translateX(-5px);
    }
    50% {
        opacity: 0;
        transform: translateX(-5px);
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}


@-webkit-keyframes arrowright {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0;
    }
    50% {
        opacity: 0;
        -webkit-transform: translateX(-5px);
    }
    75% {
        opacity: 1;
        -webkit-transform: translateX(5px);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateX(5px);
    }
}
@keyframes arrowright {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0;
    }
    50% {
        opacity: 0;
        transform: translateX(-5px);
    }
    75% {
        opacity: 1;
        transform: translateX(5px);
    }
    100% {
        opacity: 0;
        transform: translateX(5px);
    }
}

@-webkit-keyframes finger {
    0% {
        /*opacity: 1;*/
         -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    30% {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    60% {
        /*opacity: 1;*/
         -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    90% {
     
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        opacity: 0;
    }

}

@keyframes finger {
  
    0% {
        /*opacity: 1;*/
         -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    30% {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    60% {
        /*opacity: 1;*/
         -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    90% {
     
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        opacity: 0;
    }
}
@-webkit-keyframes pano {
    0% {
        -webkit-transform: translateX(0px)
    }
    25% {
        -webkit-transform: translateX(-7px)
    }
    50% {
        -webkit-transform: translateX(0px);
    }
    75% {
        -webkit-transform: translateX(7px);
    }
    100% {
        -webkit-transform: translateX(0px);
    }
}
@keyframes pano {
    0% {
        transform: translateX(0px)
    }
    25% {
        transform: translateX(-7px)
    }
    50% {
        transform: translateX(0px);
    }
    75% {
        transform: translateX(7px);
    }
    100% {
        transform: translateX(0px);
    }
}


@-webkit-keyframes pulse {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }
    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes pulse {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }
    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}


@-webkit-keyframes movey {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes movey {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes zoomOut {
    0% {
        -webkit-transform: scale(1);
        opacity: 1;
    }
    50% {
        -webkit-transform: scale(5);
    }
    100%{
        opacity: 0;
    }

    }
}

@keyframes zoomOut {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(5);
    }
    100%{
        transform: scale(5);
        opacity: 0;
    }

}

@keyframes playAnimation {
    0% {
        background-position: 0% 0;
    }
    100% {
        background-position: 187% 0;
    }
}